- content_for :js do
  = javascript_include_tag "jquery-ui.min"

  // THE MAIN CONTROLS HERE-----+
  //                            |
  //                            V
  = javascript_include_tag "filter_layout_editor"

#cut.filter.left
  %h1.left= category.name

  .right= render :partial => 'categories/operations', :object => Operation.for(category)
  .clear.w15

  - form_tag '', :id => 'search_form', :class => 'canvas', :onSubmit => 'return false;' do 
    .admin.fields_container{:style => "height: #{category.filter_layout.height}px;"}
      = render :partial => 'categories/time_range',                    
                :object => category.filter_layout
      = render :partial => 'categories/layout_editor/filter_characteristics', 
                :locals => { :characteristics => category.characteristics_for(operation) }

  = submit_tag 'Искать', :style => 'float: right;'

.left
  - form_tag category_filter_layout_path(category), :method => :put, :id => 'filter_layout_form', do
    = submit_tag '', :class => 'save'
    %span.l.i (Сохраняем ТОЛЬКО РАСКЛАДКУ)
      
