- content_for :js do
  = javascript_include_tag "jquery-ui.min"

  // THE MAIN CONTROLS HERE-----+
  //                            |
  //                            V
  = javascript_include_tag "form_layout_editor"

#cut.filter.left
  %h1.left= category.name

  .right= render :partial => 'categories/operations', :object => Operation.for(category)
  .clear.w15

  - form_tag '', :id => 'form', :class => 'canvas', :onSubmit => 'return false;' do 
    .admin.fields_container{:style => "height: #{category.form_layout.height}px;"}
      = render :partial => 'form_layouts/characteristics', 
                :locals => { :characteristics => operation ? category.characteristics_for(operation) : category.shared_characteristics }

.left
  - form_tag category_form_layout_path(category), :method => :put, :id => 'form_layout_form', do
    = submit_tag '', :class => 'save'
    %span.l.i (Сохраняем ТОЛЬКО РАСКЛАДКУ)
      
