- content_for :js do
  = javascript_include_tag "jquery-ui.min"
  = javascript_include_tag "layout_editor"

  :javascript
    $(document).ready(function(){$('.admin.fields_container').initEditor({layout: 'view_layout'})});

.w680.left
  - if @category.valid?
    = render :partial => 'shared/breadcrumbs', :object => breads_for(@category, @operation)
  .clear

  .w480.left
    %h3 Редактирование раскладки вида товара
    = render :partial => 'shared/notice'

    %span.l.i Пустые контейнеры здесь не отображаются.

    #cut.filter.left
      .heap
        %h1.left= @category.name

        .right
          .tab{:class => "#{'active' unless @operation}"}
            = link_to 'Общие свойства', [:edit, @category, :view_layout]
          = render :partial => 'categories/operation_tabs'
        .clear.w15

      - form_tag '', :id => 'form', :class => 'canvas lot_form orange-form', :onSubmit => 'return false;' do 
        .admin.fields_container{:style => "height: #{(@operation || @category).view_layout.height}px;", 
                                :rel   => '#layout_form'}

          - if @operation
            = render :partial    => 'view_layouts/characteristic', 
                     :collection => Characteristic.only_for_operation(@operation).without_container
            = render :partial    => 'view_layouts/container',
                     :collection => CharacteristicContainer.only_for_operation(@operation)
          - else
            = render :partial    => 'view_layouts/characteristic', 
                     :collection => Characteristic.for_category(@category).without_container.without_operation
            = render :partial    => 'view_layouts/container',
                     :collection => CharacteristicContainer.for_category(@category)

    .left
      - form_tag category_view_layout_path(@category), :method => :put, :id => 'layout_form', do
        = hidden_field_tag(:operation, @operation.slug) if @operation
        .clear.w15 &nbsp;
        = submit_tag '', :class => 'save'
        %span.l.i (Сохраняем ТОЛЬКО РАСКЛАДКУ)
      
    .clear.h15
    = link_to 'Редактировать список характеристик', [@category, Characteristic]
    %br/
    = link_to 'Редактировать список операций',      [@category, Operation]
  .clear.h25
.clear
