- content_for :js do
  = javascript_include_tag "ui/jquery.tristate"
  = javascript_include_tag "ui/jquery.jstepper.min"
  = javascript_include_tag "jquery-ui.min"
  = javascript_include_tag 'ui/validator'
  = javascript_include_tag 'form'

  :javascript
    toggleOperation = function() {
      operation_div = $('#'+$(this).val());
      if ($(this).attr('checked') && operation_div.find('.characteristic').length)
        operation_div.show(); 
      else 
        operation_div.hide(); 
    }

    $(document).ready(function() {
      $(':checkbox.operation').change(toggleOperation).each(toggleOperation); 

      $('form.lot_form').initForm();
      $('form.lot_form').submit(function(){
        $('.operation:hidden').empty();
        return true;
      });
    });

- form_for [@category, @lot], :html => {:class => 'lot_form'} do |f|
  %h2.l.left Операции: 
  - @category.ancestors_operations.each do |o|
    %span= check_box_tag "operation_ids[]", o.id, false, :class => 'operation'
    %span= o.name

  - @category.ancestors_operations.each do |o|
    .operation{:id => o.id}
      %h3= o.name
      .fields_container{:style => "height: #{o.form_layout.height}px; width: 680px"}
        = render :partial => 'form_layouts/characteristic', :collection => o.ancestors_characteristics
        = render :partial => 'form_layouts/container',      :collection => @category.ancestors_containers.only_for_operation(o)
      %hr

  .form_layout{:style => "height: #{@category.form_layout.height}px;"}
    = render :partial => 'form_layouts/characteristic', :collection => @category.ancestors_characteristics.without_container.without_operation
    = render :partial => 'form_layouts/container',      :collection => @category.ancestors_containers.without_operation

  %table
    %tr
      %td= f.label :name, 'Заголовок', :class => 'required'
      %td= f.text_field :name, :class => 'required string', :required => 'required'
      %td
        .description макс. 100 знаков
    %tr
      %td= f.label :description, 'Текст объявления', :class => 'required'
      %td= f.text_area :description, :class => 'required', :required => 'required'
      %td
        .description макс. 800 знаков
    = f.fields_for :contacts do |cf|
      %tr
        %td= cf.label :name, 'Автор'
        %td= cf.text_field :name, :class => 'string'
        %td
      %tr
        %td= cf.label :phone, 'Номер телефона', :class => 'required'
        %td= cf.text_field :phone, :class => 'required string', :required => 'required'
        %td
      %tr
        %td= cf.label :email, 'E-mail', :class => 'required'
        %td= cf.text_field :email, :class => 'required string', :required => 'required'
        %td
    %tr
      %td
      %td
        %small.required.l Поля обязательные для заполнения
      %td

    %tr
      %td
      %td{ :style => 'width: 200px;', :colspan => 2}
        %span.rights 
          = check_box_tag 'agreement', true, true, :required => 'required'
          Размещая это объявление, я принимаю условия
          %br/
          %a{:href => '#'}Пользовательского соглашения
          (откроется в новом окне)
      %td
    %tr
      %td
      %td= submit_tag ''
      %td
