= fields_for 'q', :builder => FilterFormBuilder do |f|

  %span.characteristic{:id => characteristic.id, :style => filter_style_for(characteristic)}

    = f.label characteristic.slug, characteristic.name 

    %span.value{:style => "left: #{characteristic.filter_layout.padding}px;"}
      - case characteristic.class
        - when BooleanCharacteristic
          = f.tristate characteristic

        - when IntegerCharacteristic, FloatCharacteristic
          - if characteristic.ranged? 
            = f.numeric_gt characteristic
            &mdash;
            = f.numeric_lt characteristic
          - else
            = f.numeric characteristic

          = characteristic.measure 
          - unless characteristic.description.nil? || characteristic.description.empty?
            %span.description= "(#{characteristic.description})"

        - when SelectionCharacteristic
          = f.selection characteristic
