- content_for :js do
  = javascript_include_tag "jquery-ui.min"

  // THE MAIN CONTROLS HERE-----+
  //                            |
  //                            V
  = javascript_include_tag "filter_layout_editor"

#cut.filter.left
  .heap
    %h1.left= category.name

    .right= render :partial => 'categories/operations', :object => category.ancestors_operations
    .clear.w15

  - form_tag '', :id => 'search_form', :class => 'canvas', :onSubmit => 'return false;' do 
    .fields_container{:style => "height: #{(operation || category).filter_layout.height}px;"}
      = render :partial => 'time_range' 
      = render :partial => 'characteristic', :collection => operation.all_characteristics#category.characteristics_for(operation)

      = submit_tag ''

.left
  - form_tag category_filter_layout_path(category), :method => :put, :id => 'filter_layout_form', do
    = hidden_field_tag(:operation, operation.slug) if operation
    = submit_tag '', :class => 'save'
    %span.l.i (Сохраняем ТОЛЬКО РАСКЛАДКУ)
      
