:ruby
  query ||= @query || {}
  slug = characteristic.slug

= fields_for 'q', :builder => FilterFormBuilder do |f|

  %span.characteristic{:id => slug, :style => filter_style_for(characteristic)}

    = f.label characteristic.slug, characteristic.name 

    %span.value{:style => "left: #{characteristic.filter_layout.padding}px;"}
      - case characteristic.class
        - when BooleanCharacteristic
          = f.tristate characteristic, query[slug]

        - when IntegerCharacteristic, FloatCharacteristic
          - if characteristic.ranged? 
            = f.numeric_gt characteristic, query["#{slug}_greater_than"]
            &mdash;
            = f.numeric_lt characteristic, query["#{slug}_less_than"]
          - else
            = f.numeric characteristic, query[slug]

          = characteristic.measure 
          - unless characteristic.description.nil? || characteristic.description.empty?
            %span.description= "(#{characteristic.description})"

        - when SelectionCharacteristic
          = f.selection characteristic, query[slug]
