- content_for :js do
  = javascript_include_tag "ui/jquery.tristate"
  = javascript_include_tag "ui/jquery.jstepper.min"
  = javascript_include_tag "jquery-ui.min"
  = javascript_include_tag "form"

  :javascript
    $(document).ready(function() { $('#search_form').initForm(); });

#cut.filter.left
  .heap
    %h1.left= @category.name
    .right= render :partial => 'categories/operations', :object => @category.ancestors_operations
    .clear

  - form_tag '', :method => :get, :id => 'search_form', :class => 'filter_form' do 
    .fields_container{:style => "height: #{(@operation || @category).filter_layout.height}px;"}
      = hidden_field_tag 'operation', @operation.slug
      
      = render :partial => 'filter_layouts/time_range'
      = render :partial => 'categories/characteristic', :collection => @category.characteristics_for(@operation)#@operation.all_characteristics

      = submit_tag ''
