- content_for :js do
  = javascript_include_tag "ui/jquery.tristate"
  = javascript_include_tag "ui/jquery.jstepper.min"
  = javascript_include_tag "jquery-ui.min"

  :javascript
    $(document).ready(function() {
      $('#search_form :checkbox').tristate();
      $('#search_form input[type=text]').each(function() {
        var options = {}
        var min = $(this).attr('min');
        var max = $(this).attr('max');
        var step = $(this).attr('step');

        if (min)
          $.extend(options, {minValue: parseFloat(min)});
        if (max)
          $.extend(options, {maxValue: parseFloat(max)});
        if (step)
          $.extend(options, {normalStep: parseFloat(step)});

        if (min || max)
          $(this).jStepper(options);
      });
    });



#cut.filter.left
  %h1.left= category.name

  .right= render :partial => 'categories/operations', :object => Operation.for(category)
  .clear.w15

  - form_tag '', :method => :get, :id => 'search_form' do 
    .fields_container{:style => "height: #{category.filter_layout.height}px;"}
      = hidden_field_tag 'operation', @operation.slug
      
      = render :partial => 'categories/time_range',      :object => category.filter_layout
      = render :partial => 'categories/characteristics', :object => category.characteristics_for(operation)
    = submit_tag 'Искать', :style => 'float: right;'
