- content_for :js do
  = javascript_include_tag "ui/jquery.tristate"
  = javascript_include_tag "ui/jquery.jstepper.min"
  = javascript_include_tag "jquery-ui.min"
  = javascript_include_tag "form"

  :javascript
    $(document).ready(function() { $('#search_form').initForm(); });

#cut.filter.left
  .heap
    %h1.left= @category.name
    .right= render :partial => 'categories/operation_tabs'
    .clear

  - form_tag '', :method => :get, :id => 'search_form', :class => 'filter_form' do 
    .fields_container{:style => "height: #{@operation.filter_layout.height}px;"}
      = hidden_field_tag 'operation', @operation.slug
      
      = render :partial    => 'filter_layouts/time_range'
      = render :partial    => 'categories/characteristic', 
               :collection => @category.ancestors_characteristics.for_operation(@operation).without_container
      = render :partial    => 'categories/container',
               :collection => CharacteristicContainer.for_category(@category).for_operation(@operation)

      = submit_tag ''
